# Python dosyaları
*.pyc
__pycache__/

# Sanal ortamlar
venv/
env/
*.env

# Veritabanı dosyaları (örn: SQLite)
*.db

# Log dosyaları
*.log

# IDE/Editor dosyaları
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store
